<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);
    --special-grey: #212121;

    font-family: "Playfair Display", serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      
  }

  p {
    margin: 0;
    color: var(--special-grey);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
    background: #F9F7F1;
  }



  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    height: 100%;
  }

  .box{
    width: 120px;
    height: 120px;
    border: 2px solid var(--special-grey);
    box-shadow: 9px 8px 0px rgb(0, 0, 0);
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 900;
    cursor: pointer;
  }

  .tto-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .primary-btn{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 24px;
    box-shadow: 9px 8px 0px rgb(0, 0, 0);
    background-color: #ffffff;
    color: var(--special-grey);
    text-transform: uppercase;
    border: 2px solid var(--special-grey);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  .primary-btn:hover{
    background-color: var(--bright-blue);
    color: #ffffff; 
  }
  .winner-txt{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--special-grey);
  }
  .winner-txt > span {
    color: var(--bright-blue) !important;
    font-style: normal !important;
    font-weight: 900 !important;
  }
  .header-container{
    text-align: center;
    margin-bottom: 2rem;
  }
  .header-container h1{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 90px;
    color: var(--special-grey);
  }
  .header-container > p{
    font-size: 24px;
    color: var(--special-grey);
  }
  
  .current-player{
    text-align: center;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: var(--special-grey);
    font-weight: bold;
    font-style: italic;
  }
  .current-player > span {
    color: var(--bright-blue) !important;
    font-style: normal !important;
    font-weight: 900 !important;
  }


</style>

<main class="main">
  <div class="content">
    <div class="header-container">
      <h1>TIC-TAC-TOE</h1>
      <p>Click on a box to make your move!</p>
    </div>
    
    <div class="game">
       <div class="tto-column">
        
          @for (box of gameBoard; track $index) {
            <div class="box" (click)="makeMove($index)">
              {{ box }}
            </div>
          }
       </div>
       
      @for (currentPlayer of currentPlayer; track $index) {
        <p class="current-player"> CURRENT PLAYER: <span>{{currentPlayer}}</span> </p>
       }
       @if (winner) {
        <p class="winner-txt"><span>{{ winner }}</span> WON THE GAME 🎉!</p>
        <button class="primary-btn mx-auto" (click)="restartGame()">Start a new game</button>
       } @else if (isDraw) {
        <p class="winner-txt">IT'S A DRAW! 🤝</p>
        <button class="primary-btn" (click)="restartGame()">Start a new game</button>
       }
    </div>
   
  </div>
</main>




<router-outlet />
