<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);
    --special-grey: #212121;

    font-family: "Playfair Display", serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      
  }

  p {
    margin: 0;
    color: var(--special-grey);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
    background: #F9F7F1;
  }

    .game-container{
      display: flex;
      justify-content: center;  
      flex-direction: row;
      max-width: 1200px;
    }
    .game{
      padding: 0 2rem;
    }


  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    height: 100%;
  }

  .box{
    width: 120px;
    height: 120px;
    border: 2px solid var(--special-grey);
    box-shadow: 9px 8px 0px rgb(0, 0, 0);
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 900;
    cursor: pointer;
  }

  .box-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: fit-content;
    margin: 0 auto
  }
  .primary-btn{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 24px;
    box-shadow: 9px 8px 0px rgb(0, 0, 0);
    background-color: #ffffff;
    color: var(--special-grey);
    text-transform: uppercase;
    border: 2px solid var(--special-grey);
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", sans-serif;
    font-weight: bold;
  }
  .primary-btn:hover{
    background-color: var(--bright-blue);
    color: #ffffff; 
  }
  .winner-txt{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--special-grey);
  }
  .winner-txt > span {
    color: var(--bright-blue) !important;
    font-style: normal !important;
    font-weight: 900 !important;
  }
  .header-container{
    text-align: center;
    margin-bottom: 2rem;
    width: 100%;
  }
  .header-container h1{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 90px;
    color: var(--special-grey);
  }
  .header-container > p{
    font-size: 18px;
    font-weight: bolder;
    color: var(--special-grey);
    text-transform: uppercase;
    border-top: 3px solid var(--special-grey);
    border-bottom: 3px solid var(--special-grey);
    padding: .2rem 0;
  }
  
  .current-player{
    text-align: center;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: var(--special-grey);
    font-weight: bold;
    font-style: italic;
  }
  .current-player > span {
    color: var(--bright-blue) !important;
    font-style: normal !important;
    font-weight: 900 !important;
  }
  .text-column{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
    border-left: 2px solid var(--special-grey);
    border-right: 2px solid var(--special-grey);
  }
  .text-column h3{
    font-size: 32px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 0.5rem;
    color: var(--special-grey);
    text-transform: uppercase;
  }
  .text-column span{
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 1rem;
    color: #2F2F2F;
  }

  @media (max-width: 992px) {
    .game-container {
      flex-direction: column;
    }
    
    .text-column {
      border-left: none;
      border-right: none;
      border-top: 2px solid var(--special-grey);
      border-bottom: 2px solid var(--special-grey);
      padding: 2rem 1rem;
      margin-bottom: 2rem;
    }
    
    .game {
      padding: 0 1rem;
    }
  }

</style>

<main class="main">
  <div class="content">
    <div class="header-container">
      <h1>TIC-TAC-TOE</h1>
      <p>Click on a box to make your move!</p>
    </div>
    <div class="game-container">
      <div class="text-column">
        <h3>The Lore</h3>
        <span>From Wikipedia</span>
        <p>Tic-tac-toe (American English), noughts and crosses (Commonwealth English), or Xs and Os (Canadian or Irish English) is a paper-and-pencil game for two players who take turns marking the spaces in a three-by-three grid, one with Xs and the other with Os.</p>
      </div>

      <div class="game">
        <div class="box-grid">
            @for (box of gameBoard; track $index) {
              <div class="box" (click)="makeMove($index)">
                {{ box }}
              </div>
            }
        </div>
        
        @for (currentPlayer of currentPlayer; track $index) {
          <p class="current-player"> CURRENT PLAYER: <span>{{currentPlayer}}</span> </p>
        }
        @if (winner) {
          <p class="winner-txt"><span>{{ winner }}</span> WON THE GAME 🎉!</p>
          <button class="primary-btn mx-auto" (click)="restartGame()">Start a new game</button>
        } @else if (isDraw) {
          <p class="winner-txt">IT'S A DRAW! 🤝</p>
          <button class="primary-btn" (click)="restartGame()">Start a new game</button>
        }
      </div>

      <div class="text-column">
        <h3>WHY A NEWSPAPER?</h3>
        <span>From Theo</span>
        <p>After waking up today, I remember seeing a newspaper on the tube.
I remember thinking to myself, I like the vibe of this, I like the off-white coloring of the paper, I like the BIG bold serif fonts and I like that some of them come with silly little games at the back. I know tic-tac-toe isnt one of them but it’s a good showcase of JavaScript skills.</p>
      </div>
    </div>
  </div>
</main>




<router-outlet />
